/* 레이아웃 */

.articleForm {
  /* padding-top: 20px; */
  padding-bottom: 20px;
  text-align: left;
  margin: 0 5%;
}

/* 알림과 검색창 */
.noti_search {
  display: grid;
  grid-template-columns: 4fr 6fr;
  text-align: left;
  padding-bottom: 20px;
}

.noti_search_n {
  padding-top: 17px;
}

.noti_search_s {
  display: grid;
  grid-template-columns: 60px 1fr;
}

.icon {
  border-radius: 30px;
  background-color: white;
  padding: 10px;
  padding-top: 17px;
  margin-left: 20px;
  box-shadow: 1px 1px 4px #eeedeb;
}

.icon:hover {
  cursor: pointer;
}

.icon2 {
  border-radius: 30px;
  background-color: white;
  padding: 10px;
  padding-top: 17px;
  margin-left: 20px;
  box-shadow: 1px 1px 4px #eeedeb;
}

.icon2:hover {
  cursor: pointer;
}

.search {
  height: 30px;
  padding-top: 15px;
  padding-left: 15px;
}

/* 지난 수업 */
.lastClass {
  display: grid;
  grid-template-columns: 120px 1fr;
  border-radius: 15px;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-shadow: 1px 1px 4px #eeedeb;
  width: 90%;
}

.lastClass.icon {
  width: 100%;
}

.lastClass.contents {
  width: 100%;
}

.lastClass:hover {
  cursor: pointer;
  border: 1px solid gray;
}

/* 다음 수업 */
.nextClass {
  display: grid;
  grid-template-columns: 1fr 120px;
  border-radius: 15px;
  background-color: white;
  padding: 15px;
  text-align: center;
  box-shadow: 1px 1px 4px #eeedeb;
  width: 90%;
}

.nextClass:hover {
  cursor: pointer;
  border: 1px solid gray;
}

/* 수업 타이틀, 내용 */
.class_title {
  display: block;
  padding-top: 20px;
  margin-bottom: 10px;
  color: #c1c4c5;
}

.class_contents {
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 28px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* 숙제 내용 제목과 날짜 */
.homeworkTitleBar {
  font-size: 12px;
  margin-top: 60px;
}

.homeworkTitleBar__title {
  display: inline-block;
  color: #0e0a07;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
  border-bottom: salmon solid 4px;
}

.homeworkTitleBar__type {
  display: inline-block;
  background-color: #f28178;
  border-radius: 5px;
  color: white;
  padding: 3px;
  font-size: 10px;
  margin-bottom: 3px;
}

.homeworkTitleBar__dday {
  display: inline-block;
  color: white;
  margin: 2px 0;
  background-color: #6e4846;
  padding: 3px;
  font-size: 10px;
  margin: 0 5px;
  border-radius: 5px;
}

.homeworkTitleBar__deadline {
  display: inline-block;
  color: #b7b9bd;
  margin-top: 5px;
}

/* 숙제 메뉴 컨텐츠 */
.homeworkContents {
  display: block;
  width: 90%;
  padding: 30px;
  margin: 30px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 1px 4px #eeedeb;
}

/* 숙제 제출 버튼 */
.homeworkSubmit {
  display: grid;
  grid-template-columns: 80px 1fr;
  background-color: white;
  border-radius: 15px;
  width: 90%;
  margin: 30px;
  box-shadow: 1px 1px 4px #eeedeb;
}

.homeworkSubmit:hover {
  cursor: pointer;
  border: 1px solid gray;
}

.homeworkSubmitL {
  margin-top: 30px;
  height: 80px;
  text-align: center;
}

.homeworkSubmitR {
  margin-top: 35px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

/* 숙제 제출 폼 */
.HomeworkSubmitTextArea {
  width: 90%;
  margin: auto;
}

.HomeworkSubmitTextArea__textarea {
  width: 100%;
  height: 500px;
  font-size: 20px;
  padding: 15px;
  border-radius: 15px;
  border: white;
  box-shadow: 1px 1px 4px #eeedeb;
}

.HomeworkSubmitTextArea__button {
  width: 100%;
  height: 50px;
  font-size: 25px;
  display: block;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 1px 4px #eeedeb;
  margin: 20px 0;
  transition: 400ms;
  font-weight: bolder;
}

.HomeworkSubmitTextArea__button:hover {
  cursor: pointer;
  border: black solid 1px;
}

/* 게시글 리플 폼 */
.replyForm {
  display: grid;
  grid-template-columns: 80px 1fr;
  width: 90%;
  margin-left: 1%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 4%;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 1px 4px #eeedeb;
}

.replyFormL {
  text-align: center;
}

.replyFormR {
  padding-left: 10px;
}

.replyImgStyle {
  transform: scaleX(-1);
}

/* 작성자 이름 */
.name {
  text-align: right;
  color: #b7b9bd;
  font-size: 12px;
  padding-right: 15px;
}
